/*
Based on "Coffee with milk" table design by Roger Johansson, 456 Berea Street
www.456bereastreet.com
================================================*/

.ricoLG_table, tr.ricoLG_hdg .ricoLG_cell, .ricoTitle, a.RicoButton, .Rico_tabTitle , .Rico_accTitle, div.ricoCalContainer *, .ricoTree *, .ricoBookmark {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.ricoLG_table {
  border-top:1px solid #523A0B !important;
  border-right:none;
  color:#000;
}
tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg th, tr.ricoLG_hdg td {  /* td/th required for IE */
  background:#EBE5D9 !important;
  line-height:normal;
  text-align:left;
}

tr.ricoLG_hdg th, tr.ricoLG_hdg td {
  border-bottom:1px solid #523A0B;
  background:#EBE5D9;
}

tr.ricoLG_hdg th, tr.ricoLG_hdg td {
  border-left: 1px solid #E0D8CD !important;
}

.ricoLG_bottom th, .ricoLG_bottom td {
  border-left: 1px solid #FFF;
}

tr.ricoLG_hdg div.ricoLG_cell {
  background:#EBE5D9;
  font-weight:bold;
  padding:0.5em 0 0.5em 0.5em;
}
div.ricoLG_outerDiv table a {
  color:#523A0B;
  text-decoration:none;
  border-bottom:1px dotted;
}
div.ricoLG_outerDiv tbody a:visited {
  color:#444;
  font-weight:normal;
}
div.ricoLG_outerDiv table a:hover {
  border-bottom-style:solid;
}

.ricoLG_bottom div.ricoLG_oddRow {
  background-color:#F7F4EE;
  border-top: 1px solid #EBE5D9;
  border-bottom: 1px solid #EBE5D9;
}
.ricoLG_bottom div.ricoLG_evenRow {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.ricoLG_selection {
  background-color:#ffffee !important;
  border-color:#523A0B !important;
}
.ricoLG_table {
  border-style:none;
}

div.ricoLG_messageDiv {
  border:2px solid #523A0B;
  background-color:#ffffee;
  color:#444;
}

a.RicoButton {
  border:1px solid #523A0B;
  background-color: #EBE5D9;
  color: #000;
}
a.RicoButton.hover {
  background-color: #f5f0e1;
}

.ricoWindow {
  border: 1px solid #523A0B;
  background-color: #ffffee;
}
.ricoTitle  {
  background-color: #EBE5D9;
  border-bottom: 1px solid #523A0B;
  color: #000;
  font-weight: normal;
  font-size:11pt;
}


.Rico_tabNavContainer .selected {
  color: #000;
  background: #EBE5D9;
  cursor: auto;
  font-weight : bold;
}
.Rico_tabContent {
  background-color: #ffffee;
}
.Rico_tabNavContainer .hover {
  color: #000;
}
.Rico_tabContentContainer {
  border : 1px solid #4f4f4f;
}
.Rico_tabTitle {
  height: 1.5em;
  color : #AAA;
  background: #EBE5D9;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  padding: 3px 5px 0px 5px;
  border-color: #523A0B;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}


.Rico_accTitle {
  background-color: #EBE5D9;
  font-weight: normal;
  font-size:11pt;
  height: 1.6em;
  color : #AAA;
  border-bottom:1px solid #523A0B;
  border-top:1px solid #523A0B;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.1em;
}

.Rico_accordion .hover {
  color: #000;
}
.Rico_accordion .selected {
  color: #000;
  font-weight : normal;
}
.Rico_accordion  {
  border : 1px solid #523A0B;
}
.Rico_accContent {
  background-color: #ffffee;
}

div.ricoCalContainer table.ricoCalTab {
  border : 1px solid #523A0B;
}
div.ricoCalContainer table.ricoCalTab thead th span a {
  font-size: 10pt !important;
}
div.ricoCalContainer table.ricoCalTab thead th {
  background-color: #EBE5D9;
  color:#000;
  font-weight: normal;
}
div.ricoCalContainer tfoot td {
  border-top : 1px solid #523A0B;
  background-color:#EBE5D9;
  color:#000;
}
div.ricoCalContainer table.ricoCalTab thead th {
  border-bottom : 1px solid #523A0B;
}
div.ricoCalContainer table.ricoCalTab, div.ricoCalContainer td.ricoCalEmpty, div.ricoCalContainer tr.ricoCalDayNames td {
  background-color:#F7F4EE;
}
div.ricoCalContainer table.ricoCalTab thead th a.hover {
  background-color: #F7F4EE !important;
}
div.ricoCalContainer tbody td.hover {
  background-color: #ffffcc;
}
div.ricoCalContainer table.ricoCalTab thead a:link, div.ricoCalContainer table.ricoCalTab thead a:visited {
  color:#000;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
