/* -------------------------------------------------------
Based on Grayed Out table design
Author: Terence Ordona
URL: http://www.imaputz.com/
 ------------------------------------------------------- */
div.ricoLG_outerDiv *, div.ricoLG_outerDiv div.ricoLG_cell, div.ricoLG_editDiv *, .ricoTitle, .Rico_tabTitle, .Rico_accTitle, .ricoTree *, .ricoBookmark  {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.ricoLG_outerDiv div.ricoLG_cell, div.ricoLG_outerDiv div.ricoLG_cell *, div.ricoLG_keywordDiv *, table.ricoLiveGrid td, table.ricoLiveGrid th  {
  font-size: 11px;
}

.ricoLG_table {
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

tr.ricoLG_hdg th, tr.ricoLG_hdg td, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
	background-color: #FFF !important;
  background: url(../images/grayedout.gif) #FFF repeat-x scroll center left;
  border-bottom: 1px solid #CCC;
}

.ricoLG_table th, .ricoLG_table td {
	border-left: 1px solid #CCC;
}

.ricoLG_bottom th, .ricoLG_bottom td {
	border-bottom: 1px solid #CCC;
}

div.ricoLG_outerDiv .ricoLG_bottom div.ricoLG_cell {
  border-bottom: none;
  padding: 5px;
}

tr.ricoLG_hdg .ricoLG_cell {
  font-weight: normal;
}

div.ricoLG_outerDiv a:visited, div.ricoLG_outerDiv a:link {
	color: #009;
	text-decoration: none;
}

div.ricoLG_outerDiv a:hover {
	color: #009;
	text-decoration: underline;
}

.ricoLG_oddRow {
	background-color: #EEE;
}

div.ricoLG_selection {
	background-color: #999;
	color: #FFF;
}

div.ricoLG_messageDiv {
  border:2px solid #999;
  background-color:#ffffff;
  color:#009;
}

div.ricoLG_highlightDiv {
	border-color: #999;
}
	
a.RicoButton {
  background-color: #999;
  color: #FFF;
}
a.RicoButton.hover {
  background-color: #AAA;
}

caption {
	text-align: left;
	font-size: 100%;
	padding: .75em;
	color: #000;
}

.ricoWindow {
  border: 1px solid #CCC;
  font-size: 11px;
	background-color: #FFF;
}
.ricoTitle  {
  background: url(../images/grayedout.gif) #FFF repeat-x scroll center left;
  border-bottom: 1px solid #CCC;
	color: #000;
  font-weight: bold;
  font-size: 11px;
}

.Rico_tabNavContainer .selected {
  color : #FFF !important;
  background: #999;
  cursor: auto;
  font-weight : bold;
}
.Rico_tabContent {
    background: #FFF;
}
.Rico_tabNavContainer .hover {
  font-weight : bold;
}

.Rico_tabContentContainer {
  border : 1px solid #999;
}
.Rico_tabTitle {
  height: 1.5em;
  color : #559;
  background: #EEE;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 3px 5px 0px 5px;
}

.Rico_accTitle {
  background: url(../images/grayedout.gif) #FFF repeat-x scroll center left;
  font-size: 11px;
  height: 1.7em;
  color : #AAA;
  font-weight : normal;
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accordion .hover {
  color : #000;
}
.Rico_accordion .selected {
  color : #000;
  font-weight : bold;
  
}
.Rico_accordion  {
  border : 1px solid #CCC;
}

div.ricoCalContainer table.ricoCalTab thead th {
  background-color: #999;
  color:#FFFFFF;
}
div.ricoCalContainer tfoot td {
  background-color:#999;
  color:#FFFFFF;
}
span.Rico_leftArrow {
  background: url(../images/left_w.gif) no-repeat bottom left;
}
span.Rico_rightArrow {
  background: url(../images/right_w.gif) no-repeat bottom left;
}
div.ricoCalContainer span.RicoClose {
  background: url(../images/close_w.gif) no-repeat top right;
}
div.ricoCalContainer table.ricoCalTab thead th a.hover {
  background-color: #AAA !important;
}
div.ricoCalContainer table.ricoCalTab thead a:link, div.ricoCalContainer table.ricoCalTab thead a:visited {
  color:#FFFFFF;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
