/* 
 *Rico stylesheet
 */

/* LiveGrid & SimpleGrid */
 
div.ricoLG_outerDiv {
  position:relative;
  /*border:thin solid blue;  /* for debugging */
}

div.ricoLG_innerDiv, div.ricoLG_frozenTabsDiv {
  overflow:hidden;
  margin:0px;
  padding:0px;
  position:absolute;
  top:0px;
}

div.ricoLG_scrollDiv {
  overflow:auto;
  position:relative;
}

div.ricoLG_scrollTabsDiv {
  position:absolute;
  top:0px;
}

div.ricoLG_resizeDiv {
  position:absolute;
  top:0px;
  width:1px;
  z-index:2;
  background-color:blue;
}

div.ricoLG_highlightDiv {
  position:absolute;
  border: 2px solid black;
}

.ricoLG_table, table.ricoLiveGrid {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  border-left-width: 0px;  /* for dojo */
}

.ricoLG_table th, .ricoLG_table td, table.ricoLiveGrid td, table.ricoLiveGrid th {
  border-left: 1px solid silver;
  border-right-width: 0px;  /* for dojo */
}

table.ricoLG_bottom, table.ricoLiveGrid td, table.ricoLiveGrid th {
  border-top-style: none;
}
/*
.ricoLG_evenRow   { }
.ricoLG_oddRow    { background-color: #EEE; }
*/
.ricoLG_selection { background-color: #cedebd; }

div.ricoLG_col {
  overflow:hidden;
  width:100px;
}

.ricoLG_top div.ricoLG_col {
  position:relative;
}

.ricoLG_top div.ricoLG_Resize {
  position:absolute;
  width:5px;
  height:100%;
  top:0px;
  cursor:e-resize;
}

.ricoLG_HdrIcon {
  padding-left:2px;
  padding-right:2px;
}

.ricoLG_sortAsc {
  background: url(../images/sort_asc.gif) no-repeat center center;
  width: 11px;
  height: 11px;
}

.ricoLG_sortDesc {
  background: url(../images/sort_desc.gif) no-repeat center center;
  width: 11px;
  height: 11px;
}

.ricoClearNative {
  background: url(../images/delete.gif) no-repeat center center;
  width: 17px;
  height: 17px;
  margin-top: -8px;
}

.ricoClear {
  display:-moz-inline-box;
  display:inline-block !important;
  cursor: pointer;
}

.ricoLG_bottom div.ricoLG_cell, .ricoLG_top th, .ricoLG_top td, table.ricoLiveGrid td, table.ricoLiveGrid th {
  border-bottom: 1px solid silver;
}

div.ricoLG_cell, table.ricoLiveGrid td, table.ricoLiveGrid th {
  overflow:hidden;
  height:1.3em;
  padding-left: 3px;
  margin: 0px;
  font-size: 9pt;
	padding-top:3px;
	padding-bottom:3px;
}

div.ricoLG_messageDiv {
  position:absolute;
  z-index:200;
  font-weight:bold;
  font-size:larger;
  text-align:center;
  padding:1em;
  opacity:0.8;
}

p.ricoBookmark {
  margin-bottom: 3px;
  font-size: 9pt;
  white-space: nowrap;
}

p.ricoBookmark span {
  margin-right: 1em;
  font-size: 9pt;
}

span.ricoCaption {
  font-weight: bold;
}

div.alignleft {
  text-align: left;
}

div.aligncenter {
  text-align: center;
}

div.alignright {
  text-align: right;
}

span.ricoSessionTimer {
  background-color:black;
  color:white;
}

.ricoLG_top input {
  font-weight: normal;
  font-size: 9pt !important;
}

.ricoLG_top option, .ricoLG_top select {
  font-weight: normal;
  font-size: 9pt !important;
}

/* grid column chooser */

div.ricoLG_chooserDiv {
  z-index:200;
}
.ricoTitle {
  padding: 3px;
}
div.ricoLG_chooserDiv  .ricoContent {
  height: 150px;
  width: 200px;
}
.ricoContent {
  padding: 3px;
  overflow: auto;
}
div.ricoLG_chooserDiv .ricoContent div {
  border-bottom: 1px solid #CCC;
}
div.ricoLG_chooserDiv .ricoContent input {
  margin-right: 0.5em;
}

/* grid keyword entry */

div.ricoLG_chooserDiv  *, div.ricoLG_keywordDiv * {
  font-size: 9pt;
}
div.ricoLG_keywordDiv {
  position:absolute;
  z-index:200;
  width: 250px;
}

div.ricoLG_keywordDiv input {
  position: relative;
  font-size: 9pt;
  float: left;
}


/* LiveGrid Forms */

span.ricoSaveMsg {
  background-color:yellow;
}

span.ricoSessionTimer {
  background-color:black;
  color:white;
}

div.ricoLG_editResponseDiv {
  color:#000; background:#E8ECF3;
  overflow:auto;
  padding:8px;
  border: 1px solid navy;
  position:absolute;
  z-index:300;
  top:0px;
  left:0px;
}

div.ricoLG_editDiv *, div.ricoLG_editResponseDiv {
  font-size: 9pt;
}

form .ricoEditLabel, form .ricoEditLabelWithHelp {
  font-weight: bold;
  text-align: left;
  padding-right: 1em;
}

form .ricoEditLabelWithHelp {
  color: navy;
}

div.ricoLG_editDiv a.RicoButton {
  text-decoration: none;
  padding: 0.3em 1em;
  margin-right: 6px;
}

div.ricoLG_editDiv div.ButtonBar {
  padding: 0.3em 0px;
  margin: 3px;
}

form {
  margin:0px;
}

div.ricoLG_editDiv .tabContent, div.ricoLG_editDiv .noTabContent {
  overflow: hidden;
  padding: 4px;
  white-space:nowrap;
}

div.ricoLG_editDiv .noTabContent {
  float:left;  /* required by IE7 */
}

span.ricoLookup {
  display:none;
}


/* ricoMenu */

div.ricoMenu, div.ricoMenuSafari {
position: absolute;
z-index: 100;
border:1px solid #666;
padding:2px;
cursor:default;
visibility: hidden;
}

div.ricoMenu, div.ricoMenu div.ricoMenuHeading, div.ricoMenu a {
background-color:menu;
color: menutext;
text-decoration: none;
font-family:tahoma,arial,helvetica,sans-serif;
font-size: 9pt;
display:block;
}

div.ricoMenuSafari, div.ricoMenuSafari div.ricoMenuHeading, div.ricoMenuSafari a {
background-color:#EDEDED;
text-decoration: none;
font-family:tahoma,arial,helvetica,sans-serif;
font-size: 9pt;
display:block;
}

div.ricoMenu div.ricoMenuHeading{
padding: 1px 0px;
font-weight:bold;
}

div.ricoMenuSafari div.ricoMenuHeading{
padding: 1px 0px;
color: black;
display: block;
font-weight:bold;
}

div.ricoMenu .enabled {
position: relative;
}

div.ricoMenuSafari .enabled {
color: black;
}

div.ricoMenu .enabled, div.ricoMenu .enabled-hover, div.ricoMenuSafari .enabled, div.ricoMenuSafari .enabled-hover, div.ricoMenu .disabled, div.ricoMenuSafari .disabled {
padding-left: 1em;
padding-top:0.1em;
padding-bottom:0.1em;
z-index: 101;
}

div.ricoMenu .disabled, div.ricoMenuSafari .disabled {
color: #999;
}

div.ricoMenu hr{
height:1px;
margin:1px;
border:0;
color: menu;
background-color: menu;
}

div.ricoMenu .enabled-hover, div.ricoMenu .ricoSubMenuOpen {
   background-color: Highlight;
   color:            HighlightText;
}

div.ricoMenuSafari .enabled-hover, div.ricoMenuSafari .ricoSubMenuOpen {
   background-color: #1657B8;
   color:            white;
}

div.ricoMenu .ricoSubMenu, div.ricoMenu .ricoSubMenuOpen, div.ricoMenuSafari .ricoSubMenu, div.ricoMenuSafari .ricoSubMenuOpen {
padding: 1px 0px;
display: block;
font-weight:bold;
z-index: 101;
position: relative;
}

div.ricoMenu div.ricoMenuBreak, div.ricoMenuSafari div.ricoMenuBreak {
height:1px;
margin:3px 0 3px 0;
padding:0;
background-color: #AAA;
width:100%;
line-height:5px;
overflow:hidden;
}

a.RicoButton {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}


/* Rico.Window */

.ricoWindow {
  width: auto !important;
}

.RicoCloseAnchor {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 2px;
}

span.RicoCloseW {
  display: block;
  height: 15px;
  width: 16px;
  background: url(../images/close_w.gif) no-repeat top right;
}

span.RicoCloseB, span.RicoClose {
  display: block;
  height: 15px;
  width: 16px;
  background: url(../images/close_b.gif) no-repeat top right;
}

a.RicoButtonAnchor {
  padding: 1px 0;
  margin: 1px;
  position: relative;
  cursor: pointer;
  float: left;
}

a.RicoButtonAnchorNative {
  border:1px solid #888;
  background-color: #DDD;
}

a.RicoButtonAnchor span {
  margin: 0 1px;
  float: left;
}

a.RicoButtonAnchorNative:hover {
  border:1px solid #666;
  background-color: #CCC;
}

span.RicoCheckmark {
  display: block;
  height: 17px;
  width: 17px;
  background: url(../images/checkmark.gif) no-repeat top right;
}

span.RicoCancel {
  display: block;
  height: 17px;
  width: 17px;
  background: url(../images/delete.gif) no-repeat top right;
}

* html .ui-dialog-titlebar .ui-dialog-titlebar-close {
  top: 16px;   /* required by IE6 */
}

.ricoLG_cell .ui-icon {
  text-indent: 0px !important;
}



/* ricoTree */

.ricoTreeContainer {
  background-color:#cedebd;
  border:1px solid black;
  top:0px;
  left:0px;
  position:absolute;
  z-index:9999;
}

.ricoTree {
  margin:4px;
  border:thin inset;
  overflow:auto;
  background-color:#FFF;
}

.ricoTree p, .ricoTree a {
  margin:0px;
  padding-left:0.3em;
  white-space:nowrap;
}

.ricoTree a {
  cursor:pointer;
  text-decoration:none;
}

.ricoTree img {
  margin:0px;
  padding:0px;
  display:block;
}

.ricoTreeContainer *, .ricoTree * {
  font-size:8pt;
  white-space:nowrap;
}

.ricoTreeButtons span:hover {
  background-color:#deeecd;
}


/* ricoCalendar */

div.ricoCalContainer, div.ricoCalYearPrompt, div.ricoTreeContainer {
  position:absolute;
  z-index:9999;
  left:0px;
  top:0px;
}

table.ricoCalTab, table.ricoCalTab *, div.ricoCalYearPrompt *, div.ricoTreeContainer * {
  font-size:8pt !important;
}

table.ricoCalTab {
  width: auto !important;
}

div.ricoCalContainer table.ricoCalTab, div.ricoCalContainer td.ricoCalEmpty, div.ricoCalContainer tr.ricoCalDayNames td  {
  background-color:#eee;
}

div.ricoCalContainer  .ricoCalToday {
  font-weight:bold;
  background-color: #33FFFF !important;
}

div.ricoCalContainer .ricoSelectedDay {
  font-weight:bold;
  background-color: #FFFF66 !important;
}

div.ricoCalContainer tbody td.hover {
  background-color: #FDD;
}

table.ricoCalTab thead a {
  text-decoration: none;
}

span.RicoCalMonthHeading {
  position:relative;
  margin: 0px 1.6em;
  display: block;
  padding: 0px;
  width: 6em;
  text-align: center;
  float: left;
}

span.RicoCalYearHeading {
  position:relative;
  display: block;
  width: 7em;
  text-align: center;
  float: left;
}

span.Rico_leftArrow {
  background: url(../images/left_b.gif) no-repeat bottom right;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 11px;
  height: 11px;
}

a.Rico_leftArrow {
  position: absolute;
  top: -3px !important;
  left: 0px !important;
  width: 12px;
  height: 1.6em;
}

span.Rico_rightArrow {
  background: url(../images/right_b.gif) no-repeat bottom left;
  position: absolute;
  top: 4px;
  right: 0px;
  width: 11px;
  height: 11px;
}

a.Rico_rightArrow {
  position: absolute;
  top: -3px !important;
  right: 0px !important;
  width: 12px;
  height: 1.6em;
}

table.ricoCalTab thead img {
  border:none;
/*  padding-left: 0.3em;
  padding-right: 0.3em;*/
}

table.ricoCalTab thead a.hover {
  cursor:pointer;
}

div.ricoCalYearPrompt div {
  margin: 5px;
}

div.ricoCalYearPrompt input {
  float: left;
}

div.ricoCalContainer  div.ricoCalYearPrompt {
  border:1px solid #666666;
  background-color: #FEE;
}

div.ricoCalContainer  .ricoCalYearPrompt img {
  border: 1px solid black;
  margin-left: 3px;
  vertical-align: middle;
}

div.ricoCalContainer table.ricoCalTab thead th {
  background-color: #D4D0C8;
  font-weight: bold;
  text-align:center;
  padding: 2px;
}

.RicoCalHeading {
  position: relative;
  padding: 1px 0px;
  height: 1%;
}

table.ricoCalTab tfoot td {
  text-align:center;
  padding: 2px;
  cursor:pointer;
}

div.ricoCalContainer  tfoot td {
  color:#FFF;
  background-color: #666666;
}

table.ricoCalTab tfoot span {
  text-decoration: underline;
  cursor:pointer;
}

div.ricoCalContainer table.ricoCalTab tbody {
  background-color: white;
}

tr.ricoCalDayNames td {
  font-weight: bold;
/*  padding: 0px 2px 0px 2px;*/
  padding: 0px !important;
  text-align:right;
}

table.ricoCalTab td, table.ricoCalTab th {
  width:2.7em;
}

td.ricoCal0, td.ricoCal1, td.ricoCal2, td.ricoCal3, td.ricoCal4, td.ricoCal5, td.ricoCal6, td.ricoCalToday, td.ricoCalEmpty {
  text-align:right;
  text-decoration:none;
}

td.ricoCal0, td.ricoCal1, td.ricoCal2, td.ricoCal3, td.ricoCal4, td.ricoCal5, td.ricoCal6 {
  cursor:pointer;
/*  padding-right: 2px !important;*/
  padding: 0px;
}

/* Monday-Friday */
div.ricoCalContainer td.ricoCal1, div.ricoCalContainer td.ricoCal2, div.ricoCalContainer td.ricoCal3, div.ricoCalContainer td.ricoCal4, div.ricoCalContainer td.ricoCal5 {
  color:black;
  background-color:#fff;
}

/* Sunday, Saturday */
div.ricoCalContainer td.ricoCal0, div.ricoCalContainer td.ricoCal6 {
  color:#999;
  background-color:#fff;
}

td.ricoCalToday {
  cursor:pointer;
  color:red;
  font-weight:bold;
}

td.ricoCalWeekNum {
  background-color: #D4D0C8;
  color:black;
  text-align:center;
}

.ricoCalMenu {
  position:absolute;
  width:12em !important;
}
div.ricoCalContainer .ricoCalMenu {
  background-color: #FEE;
  border-bottom:1px solid #666666;
  border-right:1px solid #666666;
}

div.ricoCalContainer .ricoCalMenu td {
  border-top:1px solid #666666;
  border-left:1px solid #666666;
}

.ricoCalMenu a {
  display:block;
  text-decoration:none;
  cursor:pointer;
  font-size:8pt;
  text-align: center !important;
}

div.ricoCalContainer .ricoCalMenu a {
  color:black;
}

div.ricoCalContainer .ricoCalMenu a:hover {
  background-color: #FCC;
}


/* ricoColorPicker */

div.ricoColorPicker {
  position:absolute;
  background-color: white;
  z-index:9999;
  left:0px;
  top:0px;
}

div.ricoColorPicker td {
  width: 12px;
  height: 12px;
  font-size: 10px;
}

/* tabbed panels and accordion */

.Rico_tabNavContainer {
  display:block;
  margin:0px;
  padding: 0px;
}

.Rico_tabTitle {
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
  display: inline;
}
.Rico_tabContent, .Rico_accContent {
  overflow: auto;
  padding-left: 1em;
}
.Rico_tabContentContainer {
  clear:both;
}
.Rico_tabNavContainer .hover {
  cursor: pointer;
}

div.ricoCorner {
  position: absolute;
}
div.ricoCorner div {
  line-height: 1px;
  font-size:1px;
  overflow: hidden;
}

* html .Rico_tabPanel {
  height: 1%;
  position: relative;
}

* html .ui-tabs {
  position: relative;
}

* html .Rico_tabNavContainer {
  height: 1%;
  position: relative;
}


