/* -------------------------------------------------------
Based on sea glass table design
Author: Stephanie Leary
URL: http://www.sillybean.net/ 
 ------------------------------------------------------- */
.ricoLG_table, .ricoTitle, a.RicoButton, .Rico_tabTitle , .Rico_accTitle, .ricoTree *, .ricoBookmark {
  font: .9em/1.2em Georgia, "Times New Roman", Times, serif; 
}
caption { font-size: 1.3em; font-weight: bold; text-align: left; padding: 1em 4px; }
tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg .ricoLG_cell a, tr.ricoLG_hdg .ricoLG_cell a:visited, tr.ricoLG_hdg th, tr.ricoLG_hdg td, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
	background-color: #2C5755 !important;
  color: #ffffff !important;  
	text-decoration: none;
  height: 1.4em;
  text-align: center; 
  font-weight: normal;
}
tr.ricoLG_hdg .ricoLG_cell a:hover {
	text-decoration: underline;
}
.ricoLG_oddRow  { background: #DBE6DD; }
.odd th { background: #6E8D88; }
.ricoLG_bottom .ricoLG_cell { padding: 3px; }
.ricoLG_bottom  a, .ricoLG_bottom  a:link { color: #325C91; }
.ricoLG_bottom  a:visited { color: #466C8E; }
.ricoLG_bottom a:hover, .ricoLG_bottom  a:focus { color: #1E4C94; }
.ricoLG_table {
  background: #f1f8ee; 
  color: #033; 
}
div.ricoLG_messageDiv {
  border:2px solid black;
  background-color:#f1f8ee;
  color:#2C5755;
}

.ricoLG_selection {
	background-color: #839E99;
	color: #ffffff;
}
.ricoLG_top .ricoClearNative {
  background: url(../images/delete_w.gif) no-repeat center center;
}
	
.ricoWindow {
  border: 1px solid black;
  background-color: #f1f8ee;
}
.ricoTitle  {
  background-color: #2C5755;
  color: #FFF;
  font-size:9pt;
  padding: 0.4em 1em;
}
a.RicoButton {
  background-color: #4C7775;
  color: #FFF;
}
a.RicoButton.hover {
  background-color: #6C9795;
}

.Rico_tabNavContainer .selected {
  color : #FFF;
  background: #2C5755;
  cursor: auto;
  font-weight : bold;
}
.Rico_tabContent {
    background: #f1f8ee;
}
.Rico_tabNavContainer .hover {
  color : #FFF;
}

.Rico_tabContentContainer {
  border : 1px solid #2C5755;
}
.Rico_tabTitle {
  height: 1.5em;
  color : #EEE;
  background: #839E99;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 5px 7px 0px 7px;
}


.Rico_accTitle {
  background-color : #2C5755;
  height: 1.7em;
  color : #CCC;
  font-weight : normal;
  border-bottom:1px solid #1C4745;
  border-top:1px solid #6C9795;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accordion .hover {
  color : #FFF;
}
.Rico_accordion .selected {
  color : #FFF;
  font-weight : bold;
  
}
.Rico_accordion  {
  border : 1px solid #1f669b;
}

div.ricoCalContainer table.ricoCalTab thead th {
  background-color: #2C5755;
  color:#FFFFFF;
}
div.ricoCalContainer tfoot td {
  background-color:#1C4745;
  color:#FFFFFF;
}
div.ricoCalContainer table.ricoCalTab, div.ricoCalContainer td.ricoCalEmpty, div.ricoCalContainer tr.ricoCalDayNames td {
  background-color:#DBE6DD;
}
.ricoCal0, .ricoCal1, .ricoCal2, .ricoCal3, .ricoCal4, .ricoCal4, .ricoCal6 {
  font: .9em/1.2em Georgia, "Times New Roman", Times, serif;
}
div.ricoCalContainer div.ricoCalYearPrompt {
  background-color:#f1f8ee;
  border:1px solid #2C5755;
  font: .9em/1.2em Georgia, "Times New Roman", Times, serif;
}
div.ricoCalContainer .ricoCalMenu {
  font: .9em/1.2em Georgia, "Times New Roman", Times, serif;
  background-color:#f1f8ee;
  border-bottom:1px solid #2C5755;
  border-right:1px solid #2C5755;
}
span.Rico_leftArrow {
  background: url(../images/left_w.gif) no-repeat bottom left;
}
span.Rico_rightArrow {
  background: url(../images/right_w.gif) no-repeat bottom left;
}
span.RicoClose {
  background: url(../images/close_w.gif) no-repeat top right;
}
div.ricoCalContainer table.ricoCalTab thead th a.hover {
  background-color: #4C7775 !important;
}
div.ricoCalContainer table.ricoCalTab thead a:link, div.ricoCalContainer table.ricoCalTab thead a:visited {
  color:#FFFFFF;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
