<style>
table,th,td
{
border:1px solid green;
}
th,td
{
padding:10px;
}
</style>

Hi All,
<br/><br/>
Following are the statistics of AutoPricing Products.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="11"><h2>Brokers</h2></th>		
	</tr>
  <tr>
  	<th>TOTAL</th>
    <th>RTW</th>
    <th>RTW-2</th>
    <!-- <th>Manhattan</th> -->
  </tr>
  <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalOfAll}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourOfAll}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourRecordCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourRecordCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourRecordCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTn}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTn}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketNetworkCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketNetworkCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketNetworkCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>SeatGeek</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalSeatGeek}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourSeatGeek}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSeatGeekCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourSeatGeekCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalVivid}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourVivid}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVividSeatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourVividSeatsCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVividSeatsCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalScoreBig}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourScoreBig}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourScoreBigCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourScoreBigCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourScoreBigCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTicketCity}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTicketCity}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketCityCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketCityCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketCityCount}</b></td> -->
    </b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalFanXchange}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourFanXchange}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourFanXchangeCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourFanXchangeCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td> -->
    </b></td>
  </tr>
</table>
<br/><br/>

<hr>
<br/><br/>
<div style="display:${showRtwSales};">
Following are the statistics of AutoPricing Products For RTW.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="12"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>SGK LASTFIVEROW</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLastRowMiniCats}</b></td>
     <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourSGLastFiveRow}</b></td> -->
     <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketNetworkCount}</b></td>
  </tr>
  <tr>
    <td><b>SeatGeek</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourSGLastFiveRow}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSeatGeekCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwScoreMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourScoreMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSGLastFiveRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSGLastFiveRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourRecordCount}</b></td>
  </tr>
</table>
</div>
<div style="display:${showRtwError};">
<p>${rtwError}</p>
</div>
<br/><br/>

<hr>
<br/><br/>
<div style="display:${showRotSales};">
Following are the statistics of AutoPricing Products For RTW-2.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="12"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>SGK LASTFIVEROW</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourLastRowMiniCats}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourSGLastFiveRow}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketNetworkCount}</b></td>
  </tr>
   <tr>
    <td><b>SeatGeek</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourSGLastFiveRow}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
     <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourSeatGeekCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotVividLarryCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourVividLarryCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
     <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
     <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotScoreMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourScoreMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
     <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
   <!--  <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
   <!--  <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalSGLastFiveRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourSGLastFiveRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalLarryCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourLarryCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourRecordCount}</b></td>
  </tr>
</table>
</div>
<div style="display:${showRotError};">
<p>${rotError}</p>
</div>
<br/><br/>
<!-- 
<hr>
<br/><br/>
<div style="display:${showManhattanSales};">
Following are the statistics of AutoPricing Products For Manhattan.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="11"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketNetworkCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVipMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourRecordCount}</b></td>
  </tr>
</table>
</div>
<div style="display:${showManhattanError};">
<p>${manhattanError}</p>
</div>
<br/><br/>
 -->
Thanks<br/>
Technical Team<br/>
Right This Way.