<style>
table,th,td
{
border:1px solid green;
}
th,td
{
padding:10px;
}
</style>

Hi All,
<br/><br/>
Following are the statistics of AutoPricing Products.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="10"><h2>Brokers</h2></th>		
	</tr>
  <tr>
  	<th>TOTAL</th>
    <!-- <th>TixCity</th> -->
     <th>RTW</th> 
    <!-- <th>RTW-2</th> -->
    <!-- <th>Manhattan</th> -->
  </tr>
  <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalOfAll}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourOfAll}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourRecordCount}</b></td> -->
     <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourRecordCount}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotHourRecordCount}</b></td> -->
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourRecordCount}</b></td> -->
    
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTn}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTn}</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourTicketNetworkCount}</b></td> -->
     <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketNetworkCount}</b></td> 
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketNetworkCount}</b></td> -->
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketNetworkCount}</b></td> -->
    
  </tr>
  <!-- <tr>
    <td><b>SeatGeek</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalSeatGeek}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourSeatGeek}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourSeatGeekCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSeatGeekCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourSeatGeekCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td>
    
  </tr> -->
  <!-- <tr>
    <td><b>Vivid Seats</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalVivid}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourVivid}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourVividSeatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVividSeatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourVividSeatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVividSeatsCount}</b></td>
    
  </tr> -->
  <!-- <tr>
    <td><b>Score Big</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalScoreBig}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourScoreBig}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourScoreBigCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourScoreBigCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourScoreBigCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourScoreBigCount}</b></td>
    
  </tr> -->
 <!--  <tr>
    <td><b>Ticket City</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTicketCity}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTicketCity}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourTicketCityCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketCityCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourTicketCityCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketCityCount}</b></td>
    
  </tr> -->
  <!-- <tr>
    <td><b>FanXchange</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalFanXchange}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourFanXchange}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourFanXchangeCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourFanXchangeCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rotTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rotTotalHourFanXchangeCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td>
    
  </tr> -->
</table>
<br/><br/>

<hr>
<br/><br/>
<!-- <div style="display:${showTixcitySales};">
Following are the statistics of AutoPricing Products For TixCity.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="13"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>VIP LASTROW MINICATS</th>
    <th>SGK LASTFIVEROW</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVipLastRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVipLastRowCount}</b></td>
     <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcitySGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourSGLastFiveRow}</b></td>
     <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourTicketNetworkCount}</b></td>
  </tr> -->
  <!-- <tr>
    <td><b>SeatGeek</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcitySGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourSGLastFiveRow}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourSeatGeekCount}</b></td>
  </tr> -->
  <!-- <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourVividSeatsCount}</b></td>
  </tr> -->
  <!-- <tr>
    <td><b>Score Big</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityScoreMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourScoreMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourScoreBigCount}</b></td>
  </tr> -->
  <!-- <tr>
    <td><b>Ticket City</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourTicketCityCount}</b></td>
  </tr> -->
  <!-- <tr>
    <td><b>FanXchange</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourFanXchangeCount}</b></td>
  </tr> -->
  <!--  <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalVipLastRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourVipLastRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalSGLastFiveRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityTotalHourSGLastFiveRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${tixcityRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${tixcityHourRecordCount}</b></td>
  </tr>
</table>

<br/><br/>

<table class="list">
	
  <tr>
    <th>S.No</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Venue</th>
    <th>Invoice Id</th>
    <th>Section</th>
    <th>Row</th>
    <th>Quantity</th>
    <th>Retail Price</th>
    <th>Invoice Date</th>
  </tr>
  
#foreach( $catSaleObj in $tixcityCatSalesList )
<tr>
	<td>${catSaleObj.sNo}</td>
    <td>${catSaleObj.eventName}</td>
    <td>${catSaleObj.eventDateStr}</td>
    <td>${catSaleObj.venueName}</td>
    <td>${catSaleObj.invoiceId}</td>
    <td>${catSaleObj.section}</td>
    <td>${catSaleObj.row}</td>
    <td>${catSaleObj.quantity}</td>
    <td>${catSaleObj.retailPrice}</td>
    <td>${catSaleObj.invoiceDateStr}</td>
  </tr>
#end

</table>

</div>
<div style="display:${showTixcityError};">
<p>${tixcityError}</p>
</div>
<br/><br/> -->
 
<hr>
<br/><br/>
<div style="display:${showRtwSales};">
Following are the statistics of AutoPricing Products For RTW.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="13"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>VIP LASTROW MINICATS</th>
    <th>SGK LASTFIVEROW</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipLastRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipLastRowCount}</b></td>
   <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourSGLastFiveRow}</b></td> -->
     <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketNetworkCount}</b></td>
  </tr>
  <tr>
    <td><b>SeatGeek</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwSGLastFiveRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourSGLastFiveRow}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSeatGeekCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSeatGeekCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  	<td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
     <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwScoreMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourScoreMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
     <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
     <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalVipLastRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourVipLastRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwTotalSGLastFiveRowCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwTotalHourSGLastFiveRowCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwManualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${rtwRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${rtwHourRecordCount}</b></td>
  </tr>
</table>

<br/><br/>

<table class="list">
	
  <tr>
    <th>S.No</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Venue</th>
    <th>Invoice Id</th>
    <th>Section</th>
    <th>Row</th>
    <th>Quantity</th>
    <th>Retail Price</th>
    <th>Invoice Date</th>
  </tr>
  
#foreach( $catSaleObj in $rtwCatSalesList )
<tr>
	<td>${catSaleObj.sNo}</td>
    <td>${catSaleObj.eventName}</td>
    <td>${catSaleObj.eventDateStr}</td>
    <td>${catSaleObj.venueName}</td>
    <td>${catSaleObj.invoiceId}</td>
    <td>${catSaleObj.section}</td>
    <td>${catSaleObj.row}</td>
    <td>${catSaleObj.quantity}</td>
    <td>${catSaleObj.retailPrice}</td>
    <td>${catSaleObj.invoiceDateStr}</td>
  </tr>
#end

</table>

</div>
<div style="display:${showRtwError};">
<p>${rtwError}</p>
</div>
<br/><br/>

<!-- 
<hr>
<br/><br/>
<div style="display:${showManhattanSales};">
Following are the statistics of AutoPricing Products For Manhattan.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="11"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <th>MANUAL</th>
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manAutoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketNetworkCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manScoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourScoreBigLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTicketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourTicketCityLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manFanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourFanXchangeLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourVipMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manVipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manTotalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manTotalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manLarryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manZonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourZonesCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manRecordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${manHourRecordCount}</b></td>
  </tr>
</table>
</div>
<div style="display:${showManhattanError};">
<p>${manhattanError}</p>
</div>
<br/><br/>
 -->
Thanks<br/>
Technical Team<br/>
Right This Way.