Hi All,
<br/>
<br/>
Uncategorized tickets for sports,concerts and theater generated successfully.
Find the file from S:\E-Commerce\uncategorized\
<br/><br/><br/>
Thanks,<br/>
Right This Way<br/>
Technical Team