<style>
table,th,td
{
border:1px solid green;
}
th,td
{
padding:10px;
}
</style>

Hi All,
<br/><br/>
Following are the statistics of AutoPricing Products.
<br/><br/>

<table class="list">
	<tr>
		<th align="center" rowspan="2"><h3>Exchanges</h3></th>
		<th align="center" colspan="11"><h2>Products</h2></th>		
	</tr>
  <tr>
    <th>CATS</th>
    <th>MINI CATS</th>
    <th>VIP MINI CATS</th>
    <th>VIP AUTO CATS</th>
    <th>LASTROW MINICATS</th>
    <th>LARRYLAST</th>
    <th>ZONED LASTROW MINICATS</th>
    <th>ZONES PRICING</th>
    <th>ZONES</th>
    <!-- <th>MANUAL</th> -->
    <th>TOTAL</th>
  </tr>
  <tr>
    <td><b>Ticket Network</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${autoCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourAutoCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${miniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${vipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${vipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${lastRowMiniCats}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourLastRowMiniCats}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${larryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZonesCount}</b></td>
   <!--  <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTicketNetworkCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTicketNetworkCount}</b></td>
  </tr>
  <tr>
    <td><b>Vivid Seats</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${vividMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourVividMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${vividLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourVividLastRowMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
  <!--   <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalVividSeatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourVividSeatsCount}</b></td>
  </tr>
  <tr>
    <td><b>Score Big</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigLastRowMiniCatsCount}</b></td>
    <!-- <td align="center">-</td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
   <!--  <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalScoreBigCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourScoreBigCount}</b></td>
  </tr>
  <tr>
    <td><b>Ticket City</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${ticketCityMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourTicketCityMiniCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${ticketCityVipMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourTicketCityVipMiniCatsCount}</b></td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${ticketCityLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourTicketCityLastRowMiniCatsCount}</b></td>
    <!-- <td align="center">-</td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
   <!--  <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalTicketCityCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourTicketCityCount}</b></td>
  </tr>
  <tr>
    <td><b>FanXchange</b></td>
    <!-- <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${scoreBigAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourScoreBigAutoCatsCount}</b></td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${fanXchangeLastRowMiniCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourFanXchangeLastRowMiniCatsCount}</b></td>
    <!-- <td align="center">-</td> -->
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
    <td align="center">-</td>
   <!--  <td align="center">-</td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalFanXchangeCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourFanXchangeCount}</b></td>
  </tr>
   <tr>
    <td><b>Total</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalAutocatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourAutocatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalVipCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourVipCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${vipAutoCatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourVipAutoCatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${totalLastRowMinicatsCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${totalHourLastRowMinicatsCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${larryLast}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourLarryLast}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zonesLastRow}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZonesLastRow}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zoneCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZoneCount}</b></td>
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${zonesCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourZonesCount}</b></td>
  <!--   <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${manualCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourManualCount}</b></td> -->
    <td>Total Sales&nbsp;&nbsp;:&nbsp;<b>${recordCount}</b> <br/>Last Hour&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<b>${hourRecordCount}</b></td>
  </tr>
</table>

<br/><br/>

Thanks<br/>
Technical Team<br/>
Right This Way